doctype
html
    script(src="http://localhost:3000/socket.io/socket.io.js")
    script(src="http://code.jquery.com/jquery-1.11.1.js")
    script(src="/js/index.js")
    head
        title Nagaram
        link(rel='stylesheet', href='/css/main.css')
    body
        h1(id="the-word" NAGARAM, align="center") NAGARAM
        div(id="both-panels")
        div(id="left-panel")
            ul(id="players")
                each player in players
                    li= player
        div(id="right-panel")
            ul(id="words")
                each word, wordIsThere in foundWords
                    li = word
    form(id="f")
        input(action="javascript:void(0);", id="m", autocomplete="off")
        button Send
