doctype
html
    script(src="/socket.io/socket.io.js")
    script(src="http://code.jquery.com/jquery-1.11.1.js")
    script(src="/js/waiting-room.js")
    head
        title Nagaram
        link(rel='stylesheet', href='/css/waiting-room.css')
    body
        h1(align="center") Finding players to match you up against!
        div(class="modal")
